html
  head
    title Secret Message
  body
    each msg in messages
      p= 'Error: '+ msg
    p Log in to see the secret message.
    form#loginform(action='login', method='post')
      #qr_code_login
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src=realm.apiUrl + '/interface/javascript/jquery.tozny.js')
    script.
      $('#qr_code_login').tozny({
        'type'              : 'register',
        'realm_key_id'      : '#{realm.keyId}',
        'api_url'           : '#{realm.apiUrl}',
        'form_id'           : 'loginform',
        'debug'             : true
      });
