html
  head
    title Secret Message
  body
    h1= user.meta.displayname ? 'Hi ' + user.meta.displayname : 'Secret Message'
    p= message
    form(action='logout', method='post')
      input(type='submit', value='Log out')
